.container {
  width: 85%;
}

.well {
  width: 85;
  background-color: darkgreen;
}

.header {
  width: 85%;
  padding: 5px;
  background-color: darkgreen;
  color: white;
}

.col-md-6 {
  padding: 5px;
}

.btn {
  padding: 5px;
  margin: 5px;
}

.scroll {
  overflow-y: scroll;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

body {
  background-color: lightgreen;
}

ul {
  list-style-type: none;
  height: 350px;
}
